USE [ProjectGreen]
GO
/****** Object:  Table [dbo].[TaipeiMRTExit]    Script Date: 2020/4/26 下午 09:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaipeiMRTExit](
	[No] [int] NOT NULL,
	[ExitName] [nchar](30) NULL,
	[ExitNo] [varchar](2) NULL,
	[StationName] [nchar](25) NULL,
	[Longitude] [decimal](10, 7) NULL,
	[Latitude] [decimal](9, 7) NULL,
PRIMARY KEY CLUSTERED 
(
	[No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaipeiMRTLine]    Script Date: 2020/4/26 下午 09:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaipeiMRTLine](
	[Line] [varchar](5) NULL,
	[StationNo] [varchar](5) NULL,
	[StationName] [nvarchar](20) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[TaipeiMRTExit] ([No], [ExitName], [ExitNo], [StationName], [Longitude], [Latitude]) VALUES (1, N'頂埔站出口1                        ', N'1', N'頂埔站                      ', CAST(121.4182180 AS Decimal(10, 7)), CAST(24.9593060 AS Decimal(9, 7)))
INSERT [dbo].[TaipeiMRTExit] ([No], [ExitName], [ExitNo], [StationName], [Longitude], [Latitude]) VALUES (2, N'頂埔站出口2                        ', N'2', N'頂埔站                      ', CAST(121.4190000 AS Decimal(10, 7)), CAST(24.9593100 AS Decimal(9, 7)))
INSERT [dbo].[TaipeiMRTExit] ([No], [ExitName], [ExitNo], [StationName], [Longitude], [Latitude]) VALUES (3, N'頂埔站出口3                        ', N'3', N'頂埔站                      ', CAST(121.4196000 AS Decimal(10, 7)), CAST(24.9596200 AS Decimal(9, 7)))
GO
INSERT [dbo].[TaipeiMRTLine] ([Line], [StationNo], [StationName]) VALUES (N'BL', N'01', N'頂埔站')
INSERT [dbo].[TaipeiMRTLine] ([Line], [StationNo], [StationName]) VALUES (N'BL', N'02', N'永寧站')
INSERT [dbo].[TaipeiMRTLine] ([Line], [StationNo], [StationName]) VALUES (N'BL', N'03', N'土城站')
GO
