USE [ProjectGreen]
GO
/****** Object:  Table [dbo].[YouBikeNTPC]    Script Date: 2020/4/26 下午 09:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YouBikeNTPC](
	[StationID] [varchar](4) NOT NULL,
	[StationName] [nvarchar](50) NULL,
	[Activity] [bit] NULL,
	[Total] [int] NULL,
	[Available] [int] NULL,
	[Vacancy] [int] NULL,
	[City] [nvarchar](20) NULL,
	[District] [nvarchar](20) NULL,
	[Area] [nvarchar](150) NULL,
	[Latitude] [decimal](10, 8) NULL,
	[Longitude] [decimal](11, 8) NULL,
	[UpdateTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YouBikeTPC]    Script Date: 2020/4/26 下午 09:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YouBikeTPC](
	[StationID] [varchar](4) NOT NULL,
	[StationName] [nvarchar](50) NULL,
	[Activity] [bit] NULL,
	[Total] [int] NULL,
	[Available] [int] NULL,
	[Vacancy] [int] NULL,
	[City] [nvarchar](20) NULL,
	[District] [nvarchar](20) NULL,
	[Area] [nvarchar](150) NULL,
	[Latitude] [decimal](10, 8) NULL,
	[Longitude] [decimal](11, 8) NULL,
	[UpdateTime] [datetime] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[YouBikeNTPC] ([StationID], [StationName], [Activity], [Total], [Available], [Vacancy], [City], [District], [Area], [Latitude], [Longitude], [UpdateTime]) VALUES (N'1001', N'大鵬華城', 1, 38, 3, 35, N'新北市', N'新店區', N'新北市新店區中正路700巷3號', CAST(24.99116000 AS Decimal(10, 8)), CAST(121.53398000 AS Decimal(11, 8)), CAST(N'2020-04-25T10:33:01.000' AS DateTime))
INSERT [dbo].[YouBikeNTPC] ([StationID], [StationName], [Activity], [Total], [Available], [Vacancy], [City], [District], [Area], [Latitude], [Longitude], [UpdateTime]) VALUES (N'1002', N'汐止火車站', 1, 56, 50, 5, N'新北市', N'汐止區', N'南昌街/新昌路口(西側廣場)', CAST(25.06891400 AS Decimal(10, 8)), CAST(121.66274800 AS Decimal(11, 8)), CAST(N'2020-04-25T10:33:24.000' AS DateTime))
INSERT [dbo].[YouBikeNTPC] ([StationID], [StationName], [Activity], [Total], [Available], [Vacancy], [City], [District], [Area], [Latitude], [Longitude], [UpdateTime]) VALUES (N'1003', N'汐止區公所', 1, 46, 9, 37, N'新北市', N'汐止區', N'新台五路一段/仁愛路口(新台五路側汐止地政事務所前機車停車場)', CAST(25.06416200 AS Decimal(10, 8)), CAST(121.65830100 AS Decimal(11, 8)), CAST(N'2020-04-25T10:33:22.000' AS DateTime))
GO
INSERT [dbo].[YouBikeTPC] ([StationID], [StationName], [Activity], [Total], [Available], [Vacancy], [City], [District], [Area], [Latitude], [Longitude], [UpdateTime]) VALUES (N'0130', N'羅斯福寧波東街口', 1, 26, 21, 5, N'台北市', N'中正區', N'羅斯福路一段/寧波東街(東南側)(鄰近愛國東路婚紗街)', CAST(25.03144500 AS Decimal(10, 8)), CAST(121.51941100 AS Decimal(11, 8)), CAST(N'2020-04-14T22:16:18.000' AS DateTime))
INSERT [dbo].[YouBikeTPC] ([StationID], [StationName], [Activity], [Total], [Available], [Vacancy], [City], [District], [Area], [Latitude], [Longitude], [UpdateTime]) VALUES (N'0251', N'華齡公園', 1, 36, 16, 20, N'台北市', N'士林區', N'劍潭路80對面公園(華齡公園)', CAST(25.08302300 AS Decimal(10, 8)), CAST(121.52069200 AS Decimal(11, 8)), CAST(N'2020-04-14T22:16:24.000' AS DateTime))
INSERT [dbo].[YouBikeTPC] ([StationID], [StationName], [Activity], [Total], [Available], [Vacancy], [City], [District], [Area], [Latitude], [Longitude], [UpdateTime]) VALUES (N'0372', N'重慶民族路口', 1, 26, 8, 18, N'台北市', N'大同區', N'重慶北路三段154號(前方/東側)', CAST(25.06825000 AS Decimal(10, 8)), CAST(121.51359000 AS Decimal(11, 8)), CAST(N'2020-04-14T22:16:22.000' AS DateTime))
GO
