<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
<!-- 	*****用jdbc -->
<!-- 		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property> -->
<!-- 		<property name="hibernate.connection.password">tiger</property> -->
<!-- 		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=ProjectGreen</property> -->
<!-- 		<property name="hibernate.connection.username">scott</property> -->
<!-- 		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property> -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.current_session_context_class">thread</property>

<!-- 	*****用jndi -->
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hibernate.connection.datasource">java:comp/env/jndiJdbcConnSQLServer/OrderSystem</property>
		
		<mapping class="social.bean.RestaurantTypeBean" />
		<mapping class="social.bean.TravelTypeBean" />
		<mapping class="social.bean.MemberBean2" />
		<mapping class="social.bean.MemberProfileBean" />
		<mapping class="social.bean.MatchRequestBean" />
		<mapping class="social.bean.MatchesBean" />
<!-- 		<mapping class="accommodation.search.model.AccommodationTown"/> -->
<!--         <mapping class="accommodation.search.model.AccommodationNum"/> -->
<!--         <mapping class="accommodation.search.model.Accommodation"/> -->
<!--         <mapping class="accommodation.edit.model.EditDetail"/> -->
<!-- 		<mapping resource="restaurant/model/RestaurantBean.hbm.xml" /> -->
<!-- 		<mapping class="restaurant.model.RestaurantBean" /> -->
<!-- 		<mapping class="transportation.model.TaipeiMRTExit"/>  -->
<!--         <mapping class="transportation.model.YouBikeNTPC"/> -->
<!--         <mapping class="transportation.model.YouBikeTPC"/> -->
<!--         <mapping class="transportation.model.TaipeiMRTLine"/> -->
		<!-- *****class大小寫要對 -->
		
	</session-factory>
</hibernate-configuration>



       
        
       
