USE [ProjectGreen]
GO
/****** Object:  Table [dbo].[RestaurantInfo]    Script Date: 2020/5/28 下午 11:17:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RestaurantInfo](
	[RestaurantID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantType] [nvarchar](60) NULL,
	[RestaurantName] [nvarchar](60) NULL,
	[RestaurantZone] [nvarchar](60) NULL,
	[RestaurantAddress] [nvarchar](60) NULL,
	[RestaurantPx] [nvarchar](60) NULL,
	[RestaurantPy] [nvarchar](60) NULL,
	[RestaurantPhone] [nvarchar](60) NULL,
 CONSTRAINT [PK_ResturantInfo] PRIMARY KEY CLUSTERED 
(
	[RestaurantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RestaurantOrderInfo]    Script Date: 2020/5/28 下午 11:17:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RestaurantOrderInfo](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantID] [int] NULL,
	[MemberID] [int] NULL,
	[NumberOfPeople] [int] NULL,
	[ReservationDate] [date] NULL,
	[ReservationTime] [time](7) NULL,
	[ReservationUnder] [nvarchar](12) NULL,
	[ContactPhone] [nchar](12) NULL,
	[Remark] [nvarchar](50) NULL,
	[OrderTime] [timestamp] NULL,
 CONSTRAINT [PK_ResturantOrderInfo] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RestaurantOverview]    Script Date: 2020/5/28 下午 11:17:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RestaurantOverview](
	[RestaurantID] [int] NOT NULL,
	[RestaurantName] [nvarchar](50) NULL,
	[ViewCount] [int] NULL,
	[LikeCount] [int] NULL,
	[DislikeCount] [int] NULL,
	[BookingCount] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RestaurantInfo] ON 

INSERT [dbo].[RestaurantInfo] ([RestaurantID], [RestaurantType], [RestaurantName], [RestaurantZone], [RestaurantAddress], [RestaurantPx], [RestaurantPy], [RestaurantPhone]) VALUES (1, N'地方小吃', N'阿伯豆花', N'鶯歌區', N'新北市鶯歌區鶯桃路二段12號', N'121.32606', N'24.972144', N'')
INSERT [dbo].[RestaurantInfo] ([RestaurantID], [RestaurantType], [RestaurantName], [RestaurantZone], [RestaurantAddress], [RestaurantPx], [RestaurantPy], [RestaurantPhone]) VALUES (2, N'麵包、點心', N'名家囍餅蛋糕', N'鶯歌區', N'新北市鶯歌區鶯桃路二段 9號', N'121.325912', N'24.971993', N'')
INSERT [dbo].[RestaurantInfo] ([RestaurantID], [RestaurantType], [RestaurantName], [RestaurantZone], [RestaurantAddress], [RestaurantPx], [RestaurantPy], [RestaurantPhone]) VALUES (3, N'地方小吃', N'奕嘉食品廠', N'鶯歌區', N'新北市鶯歌區鶯桃路九四巷五九弄八號一樓', N'121.341589', N'24.955331', N'')
GO
SET IDENTITY_INSERT [dbo].[RestaurantInfo] OFF
INSERT [dbo].[RestaurantOverview] ([RestaurantID], [RestaurantName], [ViewCount], [LikeCount], [DislikeCount], [BookingCount]) VALUES (1, N'阿伯豆花', 0, 0, 0, 0)
INSERT [dbo].[RestaurantOverview] ([RestaurantID], [RestaurantName], [ViewCount], [LikeCount], [DislikeCount], [BookingCount]) VALUES (2, N'名家囍餅蛋糕', 0, 0, 0, 0)
INSERT [dbo].[RestaurantOverview] ([RestaurantID], [RestaurantName], [ViewCount], [LikeCount], [DislikeCount], [BookingCount]) VALUES (3, N'奕嘉食品廠', 0, 0, 0, 0)
GO
