USE [SeminarI]
GO
/****** Object:  Table [dbo].[AttractionsEdited]    Script Date: 2020/4/9 下午 07:17:05 ******/
DROP TABLE [dbo].[AttractionsEdited]
GO
/****** Object:  Table [dbo].[Attractions.Category]    Script Date: 2020/4/9 下午 07:17:05 ******/
DROP TABLE [dbo].[Attractions.Category]
GO
/****** Object:  Table [dbo].[Attractions.Category]    Script Date: 2020/4/9 下午 07:17:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attractions.Category](
	[ClassNumber] [int] NULL,
	[Definition] [nvarchar](20) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AttractionsEdited]    Script Date: 2020/4/9 下午 07:17:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttractionsEdited](
	[Num] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Toldescribe] [nvarchar](max) NULL,
	[Tel] [nvarchar](max) NULL,
	[Add] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Town] [nvarchar](max) NULL,
	[Opentime] [nvarchar](max) NULL,
	[Picture1] [nvarchar](max) NULL,
	[Picdescribe1] [nvarchar](max) NULL,
	[Px] [nvarchar](max) NULL,
	[Py] [nvarchar](max) NULL,
	[Class1] [nvarchar](max) NULL,
	[Class2] [nvarchar](max) NULL,
	[Class3] [nvarchar](max) NULL,
	[Website] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Attractions.Category] ([ClassNumber], [Definition]) VALUES (1, N'文化類')
INSERT [dbo].[Attractions.Category] ([ClassNumber], [Definition]) VALUES (2, N'生態類')
INSERT [dbo].[Attractions.Category] ([ClassNumber], [Definition]) VALUES (3, N'古蹟類')
SET IDENTITY_INSERT [dbo].[AttractionsEdited] ON 

INSERT [dbo].[AttractionsEdited] ([Num], [Name], [Toldescribe], [Tel], [Add], [Region], [Town], [Opentime], [Picture1], [Picdescribe1], [Px], [Py], [Class1], [Class2], [Class3], [Website]) VALUES (1, N'台灣原住民族企業社(瑪伐流國際工藝社)', N'台灣原住民族文化工藝品:古埃及流傳東方民族民族古董及琉璃珠', N'886-2-35018726', N'新北市樹林區柑園街一段133巷6號B棟', N'新北市', N'樹林區', N'請來電預約', N'', N'', N'121.403120', N'24.955930', N'05', N'', N'', N'')
INSERT [dbo].[AttractionsEdited] ([Num], [Name], [Toldescribe], [Tel], [Add], [Region], [Town], [Opentime], [Picture1], [Picdescribe1], [Px], [Py], [Class1], [Class2], [Class3], [Website]) VALUES (3, N'黃金瀑布', N'黃金瀑布位於浪漫(金水)公路往水湳洞長仁社區方向的公路旁，從此處可向下眺望聞名世界的奇景－「陰陽海」。因金瓜石一帶早期為礦區，其礦脈加上山區充沛的雨水，經過化學反應，以及黃鐵礦和硫砷銅礦的交互洗禮後，將瀑布著上一層金黃略帶橘的色彩，也因而得名，成為金瓜石地區的著名景觀。', N'886-2-24972250', N'新北市瑞芳區金水公路距水湳洞1.2公里', N'新北市', N'瑞芳區', N'全年開放', N'https://newneco.ec-media.com.tw/FileArtPic.ashx?id=521&w=1280&h=960', N'近照', N'121.861470', N'25.117160', N'02', N'02', N'02', N'')
GO
SET IDENTITY_INSERT [dbo].[AttractionsEdited] OFF
