USE [master]
GO
/****** Object:  Database [RestaurantDB]    Script Date: 2020/4/9 下午 09:01:27 ******/
CREATE DATABASE [RestaurantDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RestaurantDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\RestaurantDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RestaurantDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\RestaurantDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RestaurantDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RestaurantDB]
GO
/****** Object:  User [maggy]    Script Date: 2020/4/9 下午 09:01:27 ******/
CREATE USER [maggy] FOR LOGIN [maggy] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [maggy]
GO
ALTER ROLE [db_datareader] ADD MEMBER [maggy]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [maggy]
GO
/****** Object:  Table [dbo].[ResturantInfo]    Script Date: 2020/4/9 下午 09:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResturantInfo](
	[RestaurantID] [int] NOT NULL,
	[RestaurantType] [nvarchar](50) NULL,
	[RestaurantName] [nvarchar](50) NULL,
	[RestaurantZone] [varchar](50) NULL,
	[RestaurantAddress] [nvarchar](50) NULL,
	[RestaurantPx] [float] NULL,
	[RestaurantPy] [float] NULL,
 CONSTRAINT [PK_ResturantInfo] PRIMARY KEY CLUSTERED 
(
	[RestaurantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ResturantInfo] ([RestaurantID], [RestaurantType], [RestaurantName], [RestaurantZone], [RestaurantAddress], [RestaurantPx], [RestaurantPy]) VALUES (1, N'中式合菜', N'余家孔雀蛤大王餐廳', N'八里區', N'新北市八里區渡船頭街23號', NULL, NULL)
INSERT [dbo].[ResturantInfo] ([RestaurantID], [RestaurantType], [RestaurantName], [RestaurantZone], [RestaurantAddress], [RestaurantPx], [RestaurantPy]) VALUES (2, N'中式合菜', N'渡船頭孔雀蛤', N'八里區', N'新北市八里區渡船頭街5號', NULL, NULL)
INSERT [dbo].[ResturantInfo] ([RestaurantID], [RestaurantType], [RestaurantName], [RestaurantZone], [RestaurantAddress], [RestaurantPx], [RestaurantPy]) VALUES (3, N'中式合菜', N'老漁村餐廳', N'八里區', N'新北市八里區觀海路5號', NULL, NULL)
GO
USE [master]
GO
