USE [ProjectGreen]
GO
/****** Object:  Table [dbo].[ResturantInfo]    Script Date: 2020/4/27 上午 11:07:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResturantInfo](
	[RestaurantID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantType] [nvarchar](50) NULL,
	[RestaurantName] [nvarchar](50) NULL,
	[RestaurantZone] [nvarchar](50) NULL,
	[RestaurantAddress] [nvarchar](50) NULL,
	[RestaurantPx] [nvarchar](50) NULL,
	[RestaurantPy] [nvarchar](50) NULL,
	[RestaurantPhone] [nvarchar](50) NULL,
 CONSTRAINT [PK_ResturantInfo] PRIMARY KEY CLUSTERED 
(
	[RestaurantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResturantOrderInfo]    Script Date: 2020/4/27 上午 11:07:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResturantOrderInfo](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantID] [int] NULL,
	[MemberID] [int] NULL,
	[NumberOfPeople] [int] NULL,
	[ReservationDate] [date] NULL,
	[ReservationTime] [time](7) NULL,
	[ReservationUnder] [nvarchar](12) NULL,
	[ContactPhone] [nchar](12) NULL,
	[Remark] [nvarchar](50) NULL,
	[OrderTime] [timestamp] NULL,
 CONSTRAINT [PK_ResturantOrderInfo] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ResturantInfo] ON 

INSERT [dbo].[ResturantInfo] ([RestaurantID], [RestaurantType], [RestaurantName], [RestaurantZone], [RestaurantAddress], [RestaurantPx], [RestaurantPy], [RestaurantPhone]) VALUES (1, N'飲品', N'台北八里舞茶道', N'八里區', N'新北市八里區中山路1段12號', N'293844.962', N'2783426.063', N'')
INSERT [dbo].[ResturantInfo] ([RestaurantID], [RestaurantType], [RestaurantName], [RestaurantZone], [RestaurantAddress], [RestaurantPx], [RestaurantPy], [RestaurantPhone]) VALUES (2, N'飲品', N'壹咖啡', N'八里區', N'新北市八里區中山路2段337號', N'293806.871', N'2783393.47', N'')
INSERT [dbo].[ResturantInfo] ([RestaurantID], [RestaurantType], [RestaurantName], [RestaurantZone], [RestaurantAddress], [RestaurantPx], [RestaurantPy], [RestaurantPhone]) VALUES (3, N'飲品', N'五十嵐-八里店', N'八里區', N'新北市八里區中山路2段341號', N'', N'', N'')
GO
SET IDENTITY_INSERT [dbo].[ResturantInfo] OFF
