USE [ProjectGreen]
GO
/****** Object:  Table [dbo].[MemberProfile2]    Script Date: 2020/4/23 下午 11:41:45 ******/
DROP TABLE [dbo].[MemberProfile2]
GO
/****** Object:  Table [dbo].[Member2]    Script Date: 2020/4/23 下午 11:41:45 ******/
DROP TABLE [dbo].[Member2]
GO
/****** Object:  Table [dbo].[MatchRequest]    Script Date: 2020/4/23 下午 11:41:45 ******/
DROP TABLE [dbo].[MatchRequest]
GO
/****** Object:  Table [dbo].[Matches]    Script Date: 2020/4/23 下午 11:41:45 ******/
DROP TABLE [dbo].[Matches]
GO
/****** Object:  Table [dbo].[Matches]    Script Date: 2020/4/23 下午 11:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[PairId] [int] IDENTITY(1,1) NOT NULL,
	[MemberId1] [int] NOT NULL,
	[MemberId2] [int] NOT NULL,
	[Friends1] [int] NOT NULL CONSTRAINT [DF_Matches_Friends1]  DEFAULT ((-1)),
	[Friends2] [int] NOT NULL CONSTRAINT [DF_Matches_Friends2]  DEFAULT ((-1)),
	[PairDate] [date] NULL,
	[FriendDate] [date] NULL,
	[Delete1] [int] NOT NULL CONSTRAINT [DF_Matches_Delete1]  DEFAULT ((-1)),
	[Delete2] [int] NOT NULL CONSTRAINT [DF_Matches_Delete2]  DEFAULT ((-1))
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MatchRequest]    Script Date: 2020/4/23 下午 11:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchRequest](
	[MatchID] [int] IDENTITY(61,1) NOT NULL,
	[MemberID] [int] NULL CONSTRAINT [DF_MatchRequest_MemberID]  DEFAULT ((0)),
	[AgeTopLike] [int] NULL,
	[AgeBottomLike] [int] NULL CONSTRAINT [DF_MatchRequest_AgeBottomLike]  DEFAULT ((18)),
	[HeightLike] [int] NULL CONSTRAINT [DF_MatchRequest_HeightLike]  DEFAULT ((0)),
	[WeightLike] [int] NULL CONSTRAINT [DF_MatchRequest_WeightLike]  DEFAULT ((0)),
	[GenderLike] [int] NULL CONSTRAINT [DF_MatchRequest_GenderLike]  DEFAULT ((-1)),
	[InterestedRestaurantType] [nvarchar](20) NULL,
	[TourTypeLike] [nvarchar](20) NULL,
	[RequestDay] [date] NULL,
	[Everyday] [int] NULL,
	[GetMatch] [int] NULL,
	[Counter] [int] NULL,
 CONSTRAINT [PK_MatchRequest] PRIMARY KEY CLUSTERED 
(
	[MatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Member2]    Script Date: 2020/4/23 下午 11:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Member2](
	[MemberID] [int] IDENTITY(18,1) NOT NULL,
	[MemberAccount] [varchar](18) NULL,
	[MemberPWD] [varchar](36) NULL,
	[IDCard] [varchar](10) NULL,
	[PassPort] [varchar](50) NULL,
	[MemberName] [nchar](30) NULL,
	[MemberNickName] [nvarchar](10) NULL,
	[Gender] [tinyint] NULL,
	[MemberBirthday] [date] NULL,
	[PhoneAreaCode] [varchar](4) NULL,
	[MemberPhone] [varchar](12) NULL,
	[CellPhoneAreaCode] [varchar](8) NULL,
	[MemberCellPhone] [varchar](11) NULL,
	[MemberEmail] [varchar](50) NULL,
	[MemberAddress] [nvarchar](100) NULL,
	[MemberURL] [nchar](100) NULL,
	[MemberJoinDate] [datetime] NULL,
	[MemberAvailable] [tinyint] NULL,
	[MemberPermission] [int] NULL,
	[VIP] [tinyint] NULL,
	[RegisterState] [int] NULL,
	[MemberIntroduce] [text] NULL,
 CONSTRAINT [PK_Member2] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MemberProfile2]    Script Date: 2020/4/23 下午 11:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MemberProfile2](
	[ProfileID] [int] NOT NULL,
	[ProfileHeight] [int] NULL CONSTRAINT [DF_MemberProfile2_ProfileHeight]  DEFAULT ((2)),
	[ProfileWeight] [int] NULL CONSTRAINT [DF_MemberProfile2_ProfileWeight]  DEFAULT ((2)),
	[ProfileBlood] [tinyint] NULL,
	[ProfileMarr] [tinyint] NULL,
	[ProfileEducation] [nvarchar](30) NULL,
	[ProfileJob] [nchar](20) NULL,
	[ProfileIncome] [varchar](16) NULL,
	[ProfileBelief] [nvarchar](10) NULL,
	[ProfilePersonalityType] [nvarchar](100) NULL,
	[ProfileSmoke] [tinyint] NULL,
	[ProfileWine] [tinyint] NULL,
	[ProfileIntroduce] [text] NULL,
	[ProfileFitLook] [nvarchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Matches] ON 

INSERT [dbo].[Matches] ([PairId], [MemberId1], [MemberId2], [Friends1], [Friends2], [PairDate], [FriendDate], [Delete1], [Delete2]) VALUES (1, 38, 46, -1, -1, CAST(N'2020-04-22' AS Date), NULL, -1, -1)
INSERT [dbo].[Matches] ([PairId], [MemberId1], [MemberId2], [Friends1], [Friends2], [PairDate], [FriendDate], [Delete1], [Delete2]) VALUES (2, 48, 55, -1, -1, CAST(N'2020-04-22' AS Date), NULL, -1, -1)
INSERT [dbo].[Matches] ([PairId], [MemberId1], [MemberId2], [Friends1], [Friends2], [PairDate], [FriendDate], [Delete1], [Delete2]) VALUES (3, 3, 9, -1, -1, CAST(N'2020-04-22' AS Date), NULL, -1, -1)
GO
SET IDENTITY_INSERT [dbo].[Matches] OFF
SET IDENTITY_INSERT [dbo].[MatchRequest] ON 

INSERT [dbo].[MatchRequest] ([MatchID], [MemberID], [AgeTopLike], [AgeBottomLike], [HeightLike], [WeightLike], [GenderLike], [InterestedRestaurantType], [TourTypeLike], [RequestDay], [Everyday], [GetMatch], [Counter]) VALUES (1, 1, 25, 18, 2, 2, 0, N'隨便吃', N'隨便玩', CAST(N'2020-04-19' AS Date), NULL, NULL, NULL)
INSERT [dbo].[MatchRequest] ([MatchID], [MemberID], [AgeTopLike], [AgeBottomLike], [HeightLike], [WeightLike], [GenderLike], [InterestedRestaurantType], [TourTypeLike], [RequestDay], [Everyday], [GetMatch], [Counter]) VALUES (2, 2, 30, 18, 2, 2, 0, N'隨便吃', N'隨便玩', CAST(N'2020-04-19' AS Date), NULL, NULL, NULL)
INSERT [dbo].[MatchRequest] ([MatchID], [MemberID], [AgeTopLike], [AgeBottomLike], [HeightLike], [WeightLike], [GenderLike], [InterestedRestaurantType], [TourTypeLike], [RequestDay], [Everyday], [GetMatch], [Counter]) VALUES (3, 3, 35, 18, 2, 2, 0, N'隨便吃', N'隨便玩', CAST(N'2020-04-19' AS Date), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[MatchRequest] OFF
SET IDENTITY_INSERT [dbo].[Member2] ON 

INSERT [dbo].[Member2] ([MemberID], [MemberAccount], [MemberPWD], [IDCard], [PassPort], [MemberName], [MemberNickName], [Gender], [MemberBirthday], [PhoneAreaCode], [MemberPhone], [CellPhoneAreaCode], [MemberCellPhone], [MemberEmail], [MemberAddress], [MemberURL], [MemberJoinDate], [MemberAvailable], [MemberPermission], [VIP], [RegisterState], [MemberIntroduce]) VALUES (1, N'b1', N'asd', NULL, NULL, N'1                             ', N'10old', 1, CAST(N'2010-01-01' AS Date), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Member2] ([MemberID], [MemberAccount], [MemberPWD], [IDCard], [PassPort], [MemberName], [MemberNickName], [Gender], [MemberBirthday], [PhoneAreaCode], [MemberPhone], [CellPhoneAreaCode], [MemberCellPhone], [MemberEmail], [MemberAddress], [MemberURL], [MemberJoinDate], [MemberAvailable], [MemberPermission], [VIP], [RegisterState], [MemberIntroduce]) VALUES (2, N'b2', N'asd', NULL, NULL, N'2                             ', N'2', 1, CAST(N'2000-01-02' AS Date), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Member2] ([MemberID], [MemberAccount], [MemberPWD], [IDCard], [PassPort], [MemberName], [MemberNickName], [Gender], [MemberBirthday], [PhoneAreaCode], [MemberPhone], [CellPhoneAreaCode], [MemberCellPhone], [MemberEmail], [MemberAddress], [MemberURL], [MemberJoinDate], [MemberAvailable], [MemberPermission], [VIP], [RegisterState], [MemberIntroduce]) VALUES (3, N'b3', N'asd', NULL, NULL, N'3                             ', N'3', 1, CAST(N'1990-01-02' AS Date), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Member2] OFF
INSERT [dbo].[MemberProfile2] ([ProfileID], [ProfileHeight], [ProfileWeight], [ProfileBlood], [ProfileMarr], [ProfileEducation], [ProfileJob], [ProfileIncome], [ProfileBelief], [ProfilePersonalityType], [ProfileSmoke], [ProfileWine], [ProfileIntroduce], [ProfileFitLook]) VALUES (1, 2, 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MemberProfile2] ([ProfileID], [ProfileHeight], [ProfileWeight], [ProfileBlood], [ProfileMarr], [ProfileEducation], [ProfileJob], [ProfileIncome], [ProfileBelief], [ProfilePersonalityType], [ProfileSmoke], [ProfileWine], [ProfileIntroduce], [ProfileFitLook]) VALUES (2, 2, 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MemberProfile2] ([ProfileID], [ProfileHeight], [ProfileWeight], [ProfileBlood], [ProfileMarr], [ProfileEducation], [ProfileJob], [ProfileIncome], [ProfileBelief], [ProfilePersonalityType], [ProfileSmoke], [ProfileWine], [ProfileIntroduce], [ProfileFitLook]) VALUES (3, 2, 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
