<?xml version='1.0' encoding='utf-8'?> 
<Context displayName="ProjectGreen" docBase="ProjectGreen" path="/ProjectGreen" reloadable="true">
  <!--                  SQLServer                  -->
  <Resource name="jdbc/ProjectGreen" type="javax.sql.DataSource"
      username="scott" password="tiger"
      driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"
      url="jdbc:sqlserver://localhost:1433;DatabaseName=ProjectGreen"
      maxActive="8"
      maxIdle="4"
      maxWait="5000"
  />
    <Resource name="jdbc/DB" type="javax.sql.DataSource"
      username="scott" password="tiger"
      driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"
      url="jdbc:sqlserver://localhost:1433;DatabaseName=ProjectGreen"
      maxActive="8"
      maxIdle="4"
      maxWait="5000"
  />
   <Resource name="jdbc/ProjectGreen" type="javax.sql.DataSource"
      username="scott" password="tiger"
      driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"
      url="jdbc:sqlserver://localhost:1433;DatabaseName=ProjectGreen"
      maxActive="8"
      maxIdle="4"
      maxWait="5000"
  />      
  

</Context>
